<section class="advantages _section-padding">
    <div class="advantages__container">

        <h2 class="_title-section">Наши преимущества</h2>

        <ul class="advantages__list">
            <li class="advantages__list-item">
                <img src="./images/advantages/01.webp" alt="">
                <div class="advantages__list-box">
                    <h2 class="advantages__list-title">Растоможка груза</h2>
                    <p>Мы берём на себя все формальности и бумажную волокиту, связанную с растаможкой груза</p>
                </div>
            </li>
            <li class="advantages__list-item">
                <img src="./images/advantages/02.webp" alt="">
                <div class="advantages__list-box">
                    <h2 class="advantages__list-title">Надёжная упаковка</h2>
                    <p>Все товары упаковываются нашими специалистами с особым вниманием к деталям, гарантируя, что они дойдут в безопасности и в отличном состоянии</p>
                </div>
            </li>
            <li class="advantages__list-item">
                <img src="./images/advantages/03.webp" alt="">
                <div class="advantages__list-box">
                    <h2 class="advantages__list-title">Быстро и выгодно</h2>
                    <p>Мы предлагаем быструю и выгодную доставку, чтобы вы могли насладиться покупками как можно скорее.</p>
                </div>
            </li>
            <li class="advantages__list-item">
                <img src="./images/advantages/04.webp" alt="">
                <div class="advantages__list-box">
                    <h2 class="advantages__list-title">Удобный сервис</h2>
                    <p>Стремимся сделать процесс доставки максимально удобным для вас, чтобы опыт остался приятным и беззаботным</p>
                </div>
            </li>
            <li class="advantages__list-item">
                <img src="./images/advantages/05.webp" alt="">
                <div class="advantages__list-box">
                    <h2 class="advantages__list-title">Прозрачность работы</h2>
                    <p>Мы предоставляем полный контроль над каждым этапом доставки, от момента заказа до момента прибытия заказа</p>
                </div>
            </li>
            <li class="advantages__list-item">
                <img src="./images/advantages/06.webp" alt="">
                <div class="advantages__list-box">
                    <h2 class="advantages__list-title">Страхование груза</h2>
                    <p>Наше страхование обеспечивает полную защиту и покрытие почти все неприятные и неожиданные ситуации</p>
                </div>
            </li>
        </ul>

    </div>
</section>