<section class="calc">
    <div class="calc__container">

        <div class="calc__info">
            <h1 class="calc__title">Без проблемная доставка купленных вещей из США, Европы и Азии в Россию</h1>
            <p>
                Сэкономьте на покупках и наслаждайтесь мировыми брендами — наш сервис позволяет вам легко и удобно
                заказывать товары со всего мира и получать их в России
            </p>
            <div class="calc__img"><img src="./images/calc-img.webp" alt=""></div>
        </div>
        <div class="calc__form">
            <div class="calc__form-head">
                <h2 class="_title-section">Калькулятор доставки</h2>
                <h3 class="_subtitle-section">Посчитайте, сколько будет стоить перевозка покупки из зарубежа</h3>
            </div>
            <form action="#!" class="form">
                <input type="text" placeholder="Имя">
                <ul class="form__list">
                    <li><input type="text" id="emaill" placeholder="Почта"></li>
                    <li><input type="tel" id="phone" placeholder="Телефон"></li>
                    <li><input type="number" placeholder="Общая площадь, м²"></li>
                    <li><input type="number" placeholder="Вес, кг"></li>
                    <li><input type="text" placeholder="Страна покупки"></li>
                    <li><input type="text" placeholder="Город покупки"></li>
                    <li><input type="text" placeholder="Область доставки"></li>
                    <li><input type="text" placeholder="Город доставки"></li>
                </ul>
                <button type="submit" class="_btn">Заказать расчёт</button>
            </form>
        </div>

    </div>
</section>