<section class="cta _section-padding">

    <div class="cta__container">

        <h2 class="_title-section">Остались вопросы?</h2>

        <form action="#!" class="cta__form form">
            <ul class="form__list">
                <li><input class="form__input" type="text" placeholder="Имя"></li>
                <li><input class="form__input" type="text" id="emaill" placeholder="Почта"></li>
                <li><input class="form__input" type="tel" id="phone" placeholder="Телефон"></li>
                <li><input class="form__input" type="text" placeholder="Тема вопроса"></li>
            </ul>
            <div class="form__text"><textarea class="form__input" name="textarea" id="textarea" class="cta-form__text" placeholder="Сообщение..." ></textarea></div>
            <button type="submit" class="_btn">Оставить заявку</button>
        </form>

    </div>

</section>