<section class="guarantees _section-padding">
    <div class="guarantees__container">

        <h3 class="_title-section">Гарантии качества</h3>
        <h4 class="_subtitle-section">Наши гарантии качества включают в себя полный спектр документов, необходимых для
            ввоза и вывоза товаров, а также для успешного бизнеса на мировом рынке. Мы предоставляем вам надёжность и
            уверенность</h4>

        <ul class="guarantees__list">
            <li class="guarantees__list-item">
                <div>
                    <img src="./images/guarantees/01.webp" alt="Свидетельство о регистрации в РФ">
                </div>
                <h4>Свидетельство о регистрации в РФ</h4>
            </li>
            <li class="guarantees__list-item">
                <div>
                    <img src="./images/guarantees/02.webp" alt="Свидетельство о регистрации в США">
                </div>
                <h4>Свидетельство о регистрации в США</h4>
            </li>
            <li class="guarantees__list-item">
                <div>
                    <img src="./images/guarantees/03.webp" alt="Свидетельство о регистрации в Китае">
                </div>
                <h4>Свидетельство о регистрации в Китае</h4>
            </li>
            <li class="guarantees__list-item">
                <div>
                    <img src="./images/guarantees/04.webp" alt="Свидетельство о регистрации в Великобритнии">
                </div>
                <h4>Свидетельство о регистрации в Великобритнии</h4>
            </li>
        </ul>
        <!-- /.guarantees__list -->

        
    </div>
    <button class="guarantees__btn _btn">Показать больше документов</button>
</section>